.Book {
  &__wrapper {
    perspective: 800px;
    perspective-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
  }

  &__linkWrapper {
    &:focus .Book__frontCover {
      transform: rotateY(-25deg);
    }

    &:focus .Book__page--1 {
      transform: rotateY(-20deg);
    }

    &:focus .Book__page--2 {
      transform: rotateY(-15deg);
    }

    &:focus .Book__page--3 {
      transform: rotateY(-10deg);
    }
  }

  &__frontCover {
    z-index: 5;
    transform: none;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-origin: 0% 50%;
    border-radius: 2px;
    transition: transform 0.65s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    &:hover {
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(-25deg) rotateZ(0deg) skew(0deg, 0deg);
    }

    &:hover ~ .Book__page--1 {
      transform: rotateY(-20deg);
    }

    &:hover ~ .Book__page--2 {
      transform: rotateY(-15deg);
    }

    &:hover ~ .Book__page--3 {
      transform: rotateY(-10deg);
    }
  }

  &__page {
    top: 1%;
    width: 98%;
    height: 98%;
    border-radius: 2px;
    transform: none;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-origin: 0% 50%;
    display: block;
    transition: transform 0.65s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    &--1 {
      z-index: 4;
    }

    &--2 {
      z-index: 3;
    }

    &--3 {
      z-index: 2;
    }

    &--4 {
      z-index: 1;
    }
  }

  &__backCover {
    z-index: 0;
    border-radius: 2px;
  }
}
