.Book {
  &__wrapper {
    perspective: 800px;
    perspective-origin: 100% 50%;
  }

  &__linkWrapper {
    &:focus .Book__frontCover {
      transform: rotateY(-25deg);
    }

    &:focus .Book__page--1 {
      transform: rotateY(-20deg);
    }

    &:focus .Book__page--2 {
      transform: rotateY(-15deg);
    }

    &:focus .Book__page--3 {
      transform: rotateY(-10deg);
    }
  }

  &__frontCover {
    z-index: 5;
    will-change: transform;
    display: block;
    transform: rotate3d(0, 0, 0, 0deg);
    transform-origin: 0% 50%;
    border-radius: 2px;
    transition: transform 0.65s ease;

    &:hover {
      transform: rotateY(-25deg);
    }

    &:hover ~ .Book__page--1 {
      transform: rotateY(-20deg);
    }

    &:hover ~ .Book__page--2 {
      transform: rotateY(-15deg);
    }

    &:hover ~ .Book__page--3 {
      transform: rotateY(-10deg);
    }
  }

  &__page {
    top: 1%;
    width: 98%;
    height: 98%;
    border-radius: 2px;
    transform-origin: 0% 50%;
    will-change: transform;
    display: block;
    transition: transform 0.67s ease;

    &--1 {
      z-index: 4;
    }

    &--2 {
      z-index: 3;
    }

    &--3 {
      z-index: 2;
    }

    &--4 {
      z-index: 1;
    }
  }

  &__backCover {
    z-index: 0;
    border-radius: 2px;
  }
}
