.Header {
  &__svgLink {
    &:focus .Header__svg {
      outline: 1px dotted #212121;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  &__svg {
    left: calc((100% - 14rem) / 2);

    @media (min-width: 600px) {
      left: calc((100% - 24rem) / 2);
    }

    @media (min-width: 900px) {
      left: calc((100% - 35rem) / 2);
    }
  }
}
